html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
}

.player-list-panel, .action-panel {
  width: 100vw;
  height: 85vh;
  background-color: white;
}

.placements {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.current-player-name {
  padding: 0.25rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

.player-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.player-list-player {
  padding: 0.25rem;
}

.card-list {
  width: 100%;
}

.card-list-text {
  width: 10%;
  text-align: center;
}

.card {
  width: 10%;
}

.card.ghost {
  opacity: 0;
}

.player-card-list {
  text-align: center;
}

.current-player {
  width: 100vw;
  height: 85vh;
  overflow: scroll;
}

.action-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-list.player {
  margin-top: 3vh;
}

.action-list > button {
  margin-bottom: 2%;
  padding: 4% 8%;
  width: 100%;
}

.dealer-player-action-list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.dealer-player-action-list > button {
  margin-bottom: 2%;
  padding: 4% 8%;
  width: 100%;
}

.player-card {
  width: 15%;
}

.placement-container {
  padding: 2%;
}

.player-card.selected {
  position: relative;
  top: 3vmin;
  filter: brightness(85%);
}

.player-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 5vh;
  border-bottom: 1px solid rgb(200, 200, 200);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.action-panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 5vh;
  border-top: 1px solid rgb(200, 200, 200);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 5vmin;
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

@media (orientation: portrait) {
  .placements {
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    bottom: 5vh;
  }

  .action-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 95vh;
    transition: 0.25s;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: white;
  }

  .player-list-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 95vh;
    transition: 0.25s;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  .action-panel.open {
    top: 15vh;
  }

  .player-list-panel.open {
    bottom: 15vh;
  }

  .card {
    width: 15%;
  }
}

@media (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: row;
  }

  .player-list-panel, .action-panel {
    width: 33vw;
    height: 100vh;
  }

  .player-list {
    width: 33vw;
    height: 100vh;
  }

  .current-player {
    width: 33vw;
    height: 100vh;
  }

  .action-panel-title, .player-list-title {
    display: none;
  }
}